<div class="col-xs-12">
  <div class="jumbotron">
    <h1>Welcome to Cards</h1>
    <p class="lead">Simple Cards array that is stored in Firebase and fully handled with Angular</p>
    <button type="button" class="btn btn-primary" routerLink="/">Go to Home</button>
  </div>  <!-- End of Jumbotron -->
</div>

<div class="col-md-4" *ngFor="let card of cards">
  <div class="card">
    <h3 class="card-header">{{ card.title }}</h3>
    <img src="{{ card.imagePath }}" alt="{{ card.title }}" class="image">

    <div class="card-body">
      <p>{{ card.description }}</p>
    </div>  <!-- End of Card Body -->

  </div>  <!-- End of Card -->
</div> <!-- End of Card Loop -->

