<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#res_nav">
      <span class="fa-fa-bars"></span>
    </button>
    <a href="#" class="navbar-brand">
      <img src="../../../assets/images/favicon.png" alt="Logo" width="30px">
    </a>
  </div>  <!-- End of Navbar Header -->

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a routerLink="./cards" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cards</a>
      </li>
    </ul>
  </div>  <!-- End of Navbar Collapse -->
</nav>  <!-- End of Navbar -->
