/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto', sans-serif;
}

/* Buttons */
.btn {
  outline: none !important;
}

/* Text Colors */
.text-primary {
  color: #2196F3;
}

/* Global Styles for Buttons */
.btn {
  border: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 8px 16px;
  text-transform: uppercase;
  outline: 0;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.btn:active {
  background-image: none;

  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.btn:focus {
  border: none;

  -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0 0 0 2px rgba(204, 204, 204, 1);
  -ms-box-shadow: 0 0 0 2px rgba(204, 204, 204, 1);
  -o-box-shadow: 0 0 0 2px rgba(204, 204, 204, 1);
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 1);
}

/* Button Default */
.btn-default {
  background: #fff linear-gradient(180deg, white, #fff) repeat-x;
  color: #212121;
}
.btn-default:hover {
  background-color: #f0f0f0;
}
.btn-default:active {
  color: #212121;
  background-color: #e6e5e5;
  border-color: #dfdfdf;
}
.btn-default:focus {
  background-color: #dfdfdf !important;
}

/* Button Primary */
.btn-primary {
  background: #2196F3 linear-gradient(180deg, #42a6f5, #2196F3) repeat-x;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #0d87e9 !important;
}
.btn-primary:active {
  color: #fff;
  background-color: #0c7cd5;
  border-color: #0b75c9;
}
.btn-primary:focus {
  background-color: #0d87e9 !important;
}

/* Button Danger */
.btn-danger {
  background: #e51c23 linear-gradient(180deg, #e93e44, #e51c23) repeat-x;
  color: #ffffff;
}
.btn-danger:hover {
  background-color: #cb171e;
}
.btn-danger:active {
  color: #fff;
  background-color: #b9151b;
  border-color: #ad1419;
}
.btn-danger:focus {
  background-color: #ad1419 !important;
}

/* Button Warning */
.btn-warning {
  background: #ff9800 linear-gradient(180deg, #ffa726, #ff9800) repeat-x;
  color: #ffffff;
}
.btn-warning:hover {
  background-color: #e08600;
}
.btn-warning:active {
  color: #fff;
  background-color: #cc7a00;
  border-color: #bf7200;
}
.btn-warning:focus {
  background-color: #ff9800 !important;
}

/* Button Success */
.btn-success {
  background: #4CAF50 linear-gradient(180deg, #67bb6a, #4CAF50) repeat-x;
  color: #ffffff;
}
.btn-success:hover {
  background-color: #439a46;
}
.btn-success:active {
  color: #fff;
  background-color: #3d8b40;
  border-color: #39833c;
}
.btn-success:focus {
  background-color: #4CAF50 !important;
}

/* Jumbotrons */
.jumbotron {
  padding: 64px 32px;
}
.jumbotron h1 {
  font-size: 72px;
  font-weight: 300;
  line-height: 86px;
}
.jumbotron .lead {
  font-size: 16px;
  font-weight: 300;
}
.jumbotron p {
  font-size: 13px;
  font-weight: 400;
}

/* Modals */
.modal-content {
  border-radius: 3px;
}
.modal-content .close {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 34px;
  font-weight: 300;
  padding: 8px 16px;
}

/* Forms */
form label {
  margin-bottom: 8px;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 19px;
}
form .form-control {
  border: 0px;
  border-bottom: 1px solid #666666;
  color: #666;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 19px;
  padding: 16px 0px;
  outline: 0;
  box-shadow: none;

  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
form .form-control:focus {
  border-bottom: 2px solid #2196F3;
  box-shadow: none;
}
form .help-block {
  color: #e51c23;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1px;
  margin-top: 4px;
}
form .ng-touched.ng-invalid {
  border-bottom: 2px solid #b82f2f;
}